/* START RESET settingg for css */
/*==============================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
}

/* END reset settingg for css */
/*==============================*/
/* START BASIC STYLES */
html {
  height: 100%;
}

body {
  line-height: 1.6;
  hyphens: auto;
}

* {
  -webkit-box-: border-box;
  -moz-box-: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  outline: 0;
}

a:active {
  outline: 0;
}

img {
  border: none;
  vertical-align: middle;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* END BASIC STYLES */
@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "OpenSansBold" */
@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSansBold/OpenSansBold.eot");
  src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "OpenSansRegularItalic" */
@font-face {
  font-family: "OpenSansRegularItalic";
  src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
  src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"), url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "BrutalRegular" */
@font-face {
  font-family: "BrutalRegular";
  src: url("../fonts/BrutalRegular/BrutalRegular.eot");
  src: url("../fonts/BrutalRegular/BrutalRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BrutalRegular/BrutalRegular.woff") format("woff"), url("../fonts/BrutalRegular/BrutalRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "BrutalBold" */
@font-face {
  font-family: "BrutalBold";
  src: url("../fonts/BrutalBold/BrutalBold.eot");
  src: url("../fonts/BrutalBold/BrutalBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BrutalBold/BrutalBold.woff") format("woff"), url("../fonts/BrutalBold/BrutalBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "BrutalMedium"; */
@font-face {
  font-family: "BrutalMedium";
  src: url("../fonts/BrutalMedium/BrutalMedium.eot");
  src: url("../fonts/BrutalMedium/BrutalMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/BrutalMedium/BrutalMedium.woff") format("woff"), url("../fonts/BrutalMedium/BrutalMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html {
  font: 10px "OpenSansRegular", Arial, sans-serif;
}

#wrapper {
  max-width: 140rem;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 2rem;
  position: relative;
}

.media__content_h2 {
  padding-bottom: 1.6rem;
  font-family: "BrutalBold";
  font-size: 3rem;
  border-bottom: 1px solid #dbdbdb;
}

.fa-check {
  color: #fff;
}

.topics__list {
  font-size: 2.1rem;
  margin-bottom: 5rem;
}

.topics__list li {
  margin-bottom: 1.5rem;
}

.topics__list_a {
  margin-left: 1.4rem;
  color: #000;
}

.topics__list_a:hover {
  text-decoration: none;
  color: #000;
}

.topics__list_checked, .fa-checked {
  color: #fa505f;
}

.topics__list_checked:hover {
  color: #fa505f;
}

.info-block__a {
  display: none;
}

.media-news {
  position: relative;
  padding: 0 .5rem;
  border-bottom: 3px solid #000;
}

.media-news__h3 {
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
}

.media-news__p {
  font-family: "OpenSansRegular", Arial, sans-serif;
  font-size: 1.6rem;
  margin-bottom: 4rem;
}

.media-news__bottom-box {
  min-height: 4.5rem;
  padding: 0;
  margin: 0;
  border-top: 1px solid #000;
}

.media-news__date {
  font-family: "BrutalMedium";
  font-size: 3rem;
  color: #fa505f;
  display: inline-block;
  width: 60%;
  height: 4.5rem;
}

.media-news__a {
  font-family: "BrutalMedium";
  padding: 1rem;
  display: inline-block;
  border-left: 1px solid #000;
  width: 38%;
  height: 100%;
  color: #000;
  font-size: 1.6rem;
  text-align: center;
}

.media-news__a:hover {
  color: #fa505f;
  text-decoration: none;
}

.media__year-a {
  display: none;
}

@media (min-width: 768px) {
  .media-news {
    padding-left: 11rem;
  }
  .media-news__date {
    position: absolute;
    top: -.5rem;
    left: 0;
  }
  .media-news__bottom-box {
    border: none;
  }
  .media-news__a {
    border: 1px solid #000;
    border-bottom: 0;
    display: block;
    float: right;
    width: 17rem;
  }
}

@media (min-width: 1200px) {
  .media__year-a {
    display: block;
    float: right;
    margin-top: -5rem;
    color: #000;
  }
  .media__year-a:hover {
    text-decoration: none;
    color: #fa505f;
  }
  .fa-angle-down {
    margin-left: .5rem;
  }
  .topics__list_a {
    border-bottom: 1px dashed #ccc;
  }
  .topics__list_a:hover {
    border-bottom: 0;
  }
  #left-block {
    float: left;
    width: 69%;
  }
  #right-block {
    float: right;
    margin-top: 1.6rem;
    width: 30%;
  }
  .info-block__a {
    display: block;
    float: right;
    margin-right: 5rem;
    margin-top: 4rem;
    text-align: center;
    padding-top: 1.6rem;
    width: 237px;
    height: 77px;
    border: 2px solid #000;
    text-transform: uppercase;
    color: #000;
    font-family: "OpenSansBold", sans-serif;
  }
  .info-block__a:hover {
    color: #fa505f;
    text-decoration: none;
  }
  #fa-long-arrow-right {
    font-size: 4rem;
  }
}
