@font-face 
    font-family: "OpenSansRegular"
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot")
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype")
    font-style: normal
    font-weight: normal


/* font-family: "OpenSansBold" */
@font-face 
    font-family: "OpenSansBold"
    src: url("../fonts/OpenSansBold/OpenSansBold.eot")
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype")
    font-style: normal
    font-weight: normal
/* font-family: "OpenSansRegularItalic" */
@font-face 
    font-family: "OpenSansRegularItalic"
    src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot")
    src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix")format("embedded-opentype"),url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"),url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype")
    font-style: normal
    font-weight: normal


/* font-family: "BrutalRegular" */
@font-face 
    font-family: "BrutalRegular"
    src: url("../fonts/BrutalRegular/BrutalRegular.eot")
    src: url("../fonts/BrutalRegular/BrutalRegular.eot?#iefix")format("embedded-opentype"),url("../fonts/BrutalRegular/BrutalRegular.woff") format("woff"),url("../fonts/BrutalRegular/BrutalRegular.ttf") format("truetype")
    font-style: normal
    font-weight: normal

/* font-family: "BrutalBold" */
@font-face 
    font-family: "BrutalBold"
    src: url("../fonts/BrutalBold/BrutalBold.eot")
    src: url("../fonts/BrutalBold/BrutalBold.eot?#iefix")format("embedded-opentype"),url("../fonts/BrutalBold/BrutalBold.woff") format("woff"),url("../fonts/BrutalBold/BrutalBold.ttf") format("truetype")
    font-style: normal
    font-weight: normal


/* font-family: "BrutalMedium"; */
@font-face 
    font-family: "BrutalMedium"
    src: url("../fonts/BrutalMedium/BrutalMedium.eot")
    src: url("../fonts/BrutalMedium/BrutalMedium.eot?#iefix")format("embedded-opentype"), url("../fonts/BrutalMedium/BrutalMedium.woff") format("woff"), url("../fonts/BrutalMedium/BrutalMedium.ttf") format("truetype")
    font-style: normal
    font-weight: normal
