@import '_var.sass'
@import '_reset.sass'
@import '_basic-styles.sass'
@import '_fonts.sass'
@import '_mixins.sass'

html 
	font: 10px $main-font-family
#wrapper 
	max-width: $main-max-width
	height: 100%
	margin: 0 auto
	padding-bottom: 2rem
	position: relative

.media__content_h2
	padding-bottom: 1.6rem
	font-family: "BrutalBold"
	font-size: 3rem
	border-bottom: 1px solid #dbdbdb

.fa-check 
	color: #fff
.topics__list
	font-size: 2.1rem
	margin-bottom: 5rem
	li
		margin-bottom: 1.5rem
.topics__list_a
	margin-left: 1.4rem
	color: #000
	&:hover
		text-decoration: none
		color: #000
.topics__list_checked, .fa-checked
	color: #fa505f

.topics__list_checked
	&:hover
		color: #fa505f
.info-block__a
	display: none
.media-news
	position: relative
	padding: 0 .5rem
	border-bottom: 3px solid #000
.media-news__h3
	font-size: 2.4rem
	margin-bottom: 2.5rem

.media-news__p
	font-family: $main-font-family
	font-size: 1.6rem
	margin-bottom: 4rem
.media-news__bottom-box
	min-height: 4.5rem
	padding: 0
	margin: 0
	border-top: 1px solid #000
.media-news__date
	font-family: "BrutalMedium"
	font-size: 3rem
	color: #fa505f
	display: inline-block
	width: 60%
	height: 4.5rem
.media-news__a
	font-family: "BrutalMedium"
	padding: 1rem
	display: inline-block
	border-left: 1px solid #000
	width: 38%
	height: 100%
	color: #000
	font-size: 1.6rem
	text-align: center
	&:hover
		color: #fa505f
		text-decoration: none
.media__year-a
	display: none
@media (min-width: 768px) 
	.media-news 
		padding-left: 11rem
	.media-news__date
		position: absolute
		top: -.5rem
		left: 0
	.media-news__bottom-box
		border: none
	.media-news__a
		border: 1px solid #000
		border-bottom: 0
		display: block
		float: right
		width: 17rem

@media (min-width: 1200px)
	// .container-list
	// 	position: absolute
	// 	top: 0
	// 	right: 0
	.media__year-a
		display: block
		float: right
		margin-top: -5rem
		color: #000
		&:hover
			text-decoration: none
			color: #fa505f
	.fa-angle-down
		margin-left: .5rem
	.topics__list_a
		border-bottom: 1px dashed #ccc
		&:hover
			border-bottom: 0
	#left-block
		float: left
		width: 69%
	#right-block
		float: right
		margin-top: 1.6rem
		width: 30%
	.info-block__a
		display: block
		float: right
		margin-right: 5rem
		margin-top: 4rem
		text-align: center
		padding-top: 1.6rem
		width: 237px
		height: 77px
		border: 2px solid #000
		text-transform: uppercase
		color: #000
		font-family: "OpenSansBold", sans-serif
		&:hover
			color: #fa505f
			text-decoration: none
	#fa-long-arrow-right
		font-size: 4rem